* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*shared style*/

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.primary-btn {
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: #3b7d56; 
}


/*main style*/
nav {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

.menu a {
    color: #000000;
    opacity: 90%;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover {
    color: #30B868;
    opacity: 1;
}

#banner {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 674px;
    padding-top: 115.5px;
}

#banner .banner-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.banner-container .notification p {
    width: 229px;
    margin: 0 auto;
    margin-bottom: 16px;
    color: #469165;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px 8px 12px;
}

.banner-container .main-text h1{
    font-size: 72px;
    color: #FFFFFF;
    line-height: 84px;
    font-weight: bold;
    margin-bottom: 16px;
}

.main-text h1 .green-text {
    color: #30B868;
}

.explanation {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.secondary-btn {
    background-color: transparent;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 16px;
}

.secondary-btn:hover {
    background-color: #FFFFFF;
    color: #000000;
}

#notes {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.notes-container h2 {
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-top: 48px;
    margin-bottom: 16px;
}

.notes-container .heading-para {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
}

.note-box {
    display: flex;
    gap: 24px;
}

.note-card {
    width: 322px;
    height: 300px;
    padding: 69px 24px 69px 24px;
    box-shadow: 0px 6px 50px #00000015;
}

.note-card img {
    margin-bottom: 16px;
    background-color: #F95555;
    padding: 14px 14px;
    border-radius: 1000px;
}

.note-card h3 {
    font-size: 16px;
    font-weight: 600px;
    color: #001931;
    margin-bottom: 16px;
}

.note-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#second-brain {
    padding-top: 120px;
    padding-bottom: 120px;
}

#second-brain .second-brain-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
    align-items: center;
}

.second-brain-container img {
    height: 600px;
    width: 600px;
}

.info .title {
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}

.info h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.info .extra-info {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.info .points {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}

#early-access {
    padding-bottom: 120px;
}
.early-access-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto; 
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 12px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.early-access-container h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
}

.early-access-container .extra-info {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
    text-align: center;
}

.early-access-container .last-para {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
    text-align: center;
}

footer {
    padding-top: 120px;
    padding-bottom: 30px;
    background-color: #001931;
}

#footer-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.socials {
    margin-right: 107px;
}
.socials h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}

.social-logos {
    display: flex;
    gap: 16px;
    cursor: pointer;
}

.logo-footer {
    cursor: pointer;
}

footer hr {
    width: 85%;
    max-width: 1360px;
    margin: 80px auto 30px auto;
    border: none;
    height: 1px;
    background-color: #4a4b4e;
}

footer p {
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}