* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*shared style*/

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.primary-btn {
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    cursor: pointer;
}


/*main style*/
nav {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

.menu a {
    color: #000000;
    opacity: 90%;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    text-decoration: none;
    cursor: pointer;
}
